@inherits LayoutComponentBase

<PageTitle>FlowLearningPlatform</PageTitle>

<Layout Class="layout">
    <Header>
        <div class="header-left">
            <UserButton />
        </div>
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new[]{"1"})>
            <MenuItem Key="1">
                <NavLink href="/">首页</NavLink>
            </MenuItem>
            <MenuItem Key="2">
                <NavLink href="/course">课程</NavLink>
            </MenuItem>
        </Menu>

    </Header>
    <Content Style="padding:24px;">
        @Body
    </Content>
    <Footer Style="text-align: center; ">Ant Design ©2018 Created by Ant UED</Footer>
</Layout>

<style>
    .header-left{
        float: right;
        margin: 0px 8px 0px 8px
    }
</style>

